{erl_opts, [debug_info]}.
{deps, []}.
{edoc_opts, [
    {exclude_packages,
     ["chords",
      "chromatic",
      "degrees",
      "fretboard_charts",
      "intervals",
      "scales",
      "text_notes"
     ]}
]}.
{dialyzer, [{plt_extra_apps, [eunit]}]}.
{plugins, [
  {gradualizer, {git, "https://github.com/josefs/Gradualizer.git", {branch, "master"}}}
]}.
{project_plugins, [rebar3_efmt]}.